.accomplishment_tab_link {
    cursor: pointer;
    transition: 0.2s;
}

.achievement_card:hover {
    box-shadow: 0px 0px 20px rgb(173, 171, 161);
    scale: 1.005;
    transition: 0.3s ease;
}

.certification_card:hover{
    
    box-shadow: 0px 0px 20px rgb(173, 171, 161);
    scale: 1.005;
    transition: 0.3s ease;
}

.glossy-box-wrapper {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}