
  @import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero {
    display: grid;
    grid-template-columns: auto auto;
    height: 90%;
}

.hero_left {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_right {
    text-align: end;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: end;

}

.hero_me{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 60%;
    padding: 10px;
    margin: 0px;
}

.hero_name{ 
    font-family: 'Norican', cursive;
    margin-left: 10px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 992px) {
    .hero {
        grid-template-columns: auto;
        margin-top: 0px;
        margin: 0px;
    }

    .hero_right{
        order: 1;
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }
    .hero_left{
        order: 2;
        padding: 10px 50px;
        margin: 0px;
        justify-content: flex-start;
    }

    .hero_me{
        width: 40%;
    }
}

@media only screen and (max-width: 766px){

    .hero_right{
        padding: 30px;
    }
    .hero_me{
        width: 60%;

    }

    .hero_left{
        padding: 0;
        margin-top: -10px;
    }
}

@media only screen and (max-width: 681px){
.hero_me{
        width: 70%;
    }
}

@media only screen and (max-width: 520px){
.hero_me{
        width: 90%;
    }
}

@media only screen and (max-width: 420px){
.hero_me{
        width: 100%;
    }
}